*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #003333;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 3px;
  /* background-color:yellowgreen; */
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
}
    

h1 {
  font-size: 50px;
  color: #ccc;
  position: inherit;
  left: 50%;
  transform: translateX(-50%);
  font-family: monospace;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -1px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: right;
  margin: auto;
  font-family: monospace;
  overflow: hidden;
  margin: 0;
  position: relative;
  background: black;
  transition-duration: 0.9s;
}

.navbar:hover {
  box-shadow: inset 0px -9px 20px 3px greenyellow;
}

a:hover {
  background: greenyellow;
  box-shadow: none;
  color: black;
}

a {
  background-color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  transition-duration: 0.4s;
  border: yellowgreen solid 3px;
  display: flex;
  padding: 10px;
  margin: 10px;
  float: right;
  cursor: pointer;
  border-radius: 15px;
  color: #ffffff9e;
  font-family: monospace;
}

.nav-btn:hover {
  box-shadow: none;
  color: black;
}

.nav-btn {
  background-color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  /* border: 1px solid #ccc; */
  display: flex;
  padding: 10px;
  margin: 10px;
  float: right;
  border-radius: 15px;
  color: #ffffff9e;
  font-family: monospace;
}

.sales {
   left: 25%;
  font-family: monospace;
  background-color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  /* border: 1px solid #ccc; */
  display: flex;
  padding: 10px;
  margin: 10px;
  float: right;
  border-radius: 15px;
  color: #ffffff9e;
  font-family: monospace;
  cursor: pointer;
}

.sales:hover{
	color:black;
}
.sales {
  transition-duration: 0.4s;
  border: yellowgreen solid 3px;
}

.nav-order {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 96%;
  transform: translateX(-50%);
  /* border: #fff solid 3px; */
  font-size: 20px;
  font-family: monospace;
  margin: auto;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.nav-sales {
  position: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 96%;
  transform: translateX(-50%);
  /* border: #fff solid 3px; */
  font-size: 20px;
  font-family: monospace;
  margin: auto;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  font-family: monospace;
  /* border: 1px solid #ccc; */
  height: 100vh;
  margin: 0;
  position: relative;
  background: #333;
}

button:hover {
  background-color: greenyellow;
}
button {
  transition-duration: 0.4s;
  border: yellowgreen solid 3px;
}

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  border: greenyellow solid 3px;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  padding: 9px 20px;
  margin: auto;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  top: 90%;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: auto;
}
.split::-webkit-scrollbar {
  width: 3px;
}

.menu-center {
  /* border:3px solid #ccc; */
  padding: 80px 0px;
  display: grid;
  margin: 0 auto;
  max-width: 480px;
}

.items h3 {
  text-align: center;
  color: #333;
  border: 1px solid #ccc;
  margin: 13px 13px 0px 13px;
  padding: 20px;
  background-color: greenyellow;
  font-size: x-large;
  font-weight: bold;
}

items {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
}

.price {
  text-align: center;
  color: #333;
  border: 1px solid #ccc;
  margin: 1px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  background-color: white;
  font-size: x-large;
  font-weight: bold;
}

.order {
  border: 3px solid #ccc;
  background: #1a1a1a;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.inner-order {
  border: 3px solid #ccc;
  width: 500px;
  height: 550px;
  padding: 10px 0px;
  margin: 160px auto;
  background: #1a1a1a;
  border-radius: 4px;
  position: relative;
}

.close {
  color: white;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 28px;
  transform: rotate(45deg);
  cursor: pointer;
  font-weight: bolder;
  font-size: xx-large;
}

.text-center {
  text-align: center;
  padding-top: 10px;
  font-family: monospace;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.heading {
  font-size: 20px;
  color: #ccc;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* white-space: nowrap; */
  font-family: monospace;
  text-transform: uppercase;
}

.outer-queue {
  display: inline-flex;
  text-align: center;
  margin-top: 30px;
  padding: 31px;
  font-size: x-large;
  font-weight: bold;
}

.column1 {
  height: 80vh;
  width: 15vw;
  margin: 5px;
}

.column2 {
  height: 80vh;
  width: 15vw;
  margin: 5px;
}

.column3 {
  height: 80vh;
  width: 15vw;
  margin: 5px;
}

.border {
  background-color: none;
  border: 2px solid #ccc;
  height: 80vh;
  /* width: 15vw; */
  margin: 5px;
  overflow-y: auto;
}
.border::-webkit-scrollbar {
  width: 3px;
}

.border::-webkit-scrollbar-thumb {
  background-color: gray;
}
.move:hover {
  border: 3px solid yellow;
}

.move:active {
  border: 5px solid red;
}

.order_item {
  padding: 80px 0px;
  display: grid;
  margin: 0 auto;
  /* width: 480px; */
  text-align: center;
  color: #333;
  border: 1px solid #ccc;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  /* margin-bottom: 7px; */
  padding: 20px;
  background-color: greenyellow;
}

.Cname {
  border: 1px solid #ccc;
  padding: 10px;
  /* width: 480px; */
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.form {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  justify-content: center;

  padding: 1em;
  margin: 26px auto;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  display: inline-block;
  width: 90px;
  font-size: larger;
  font-family: monospace;
  text-align: right;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

form li + li {
  margin-top: 1em;
}

input,
select {
  font-family: monospace;
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #999;
  /* background-color:#808080;	 */
  font-size: x-large;

  box-shadow: #808080 0px 0px 20px 1px inset;
}

form span {
  font-size: 13px;
  background: #de0606a6;
  display: inline-block;
  height: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

form span:empty {
  height: 0;
}

input:focus {
  border-color: yellow;
}

select:focus {
  border-color: yellow;
}

.btn-dark {
  color: black;
  padding: 9px 20px;
  margin: 7px 3px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
  font-size: large;
}

.inner {
  border: 3px solid #ccc;
  padding: 80px 0px;
  margin: 40px;
}



.overflow{
	
    border: 3px solid #ccc;
	border: 3px solid #ccc;
    width: 285px;
    height: 500px;
    padding: 10px 0px;
    margin: 160px auto;
    background: #1a1a1a;
    border-radius: 4px;
    position: relative;
}
.overflowDiv{
	display: inline-block;
    width: 90px;
    font-size: larger;
    font-family: monospace;
    text-align: -webkit-left;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding-left: 10px;
}

/*
Media Query for Order

label {
    display: inline-block;
    width: 90px;
    font-size: larger;
    font-family: monospace;
    text-align: -webkit-left;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding-left: 10px;
}

.inner {
    border: 3px solid #ccc;
    padding: 20px 0px;
    margin: 17px;
}

.inner-order {
    border: 3px solid #ccc;
    width: 285px;
    height: 500px;
    padding: 10px 0px;
    margin: 160px auto;
    background: #1a1a1a;
    border-radius: 4px;
    position: relative;
}


input, select {
    font-family: monospace;
    width: -webkit-fill-available;
    box-sizing: border-box;
    border: 2px solid #999;
    background-color: #808080;
    font-size: x-large;
    box-shadow: #808080 0px 0px 20px 1px inset;
    margin: 10px;
}

*/